node_modules
# Keep environment variables out of version control
.env
/dashboard/.env.local
/generated/prisma
aumentrix_google_vision.json

---
/dashboard/npm-debug.log*
/dashboard/yarn-debug.log*
/dashboard/yarn-error.log*
/dashboard/.pnpm-debug.log*

# env files (can opt-in for committing if needed)
/dashboard/.env*

# vercel
/dashboard/.vercel

# typescript
/dashboard/*.tsbuildinfo
/dashboard/next-env.d.ts

